<h2>{{#str}}modulename, mod_alfaview{{/str}}</h2>
<div class="box py-3 generalbox">
    <div class="pb-3">
        <a href="{{joinLink}}" class="btn btn-primary">{{#str}}join_button_label, mod_alfaview{{/str}}</a>
    </div>
    <p>
        {{#str}}join_help_download, mod_alfaview{{/str}}<br>
        {{#str}}join_help_support, mod_alfaview{{/str}}
    </p>
</div>
